@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.userPhoto {
  width: 100px;
  height: 100px;
}

.loader {
  position: absolute;
  background-color: cornflowerblue;
  width: 59%;
  height: 78%;
  z-index: 1000;
}

.selectedPage {
  font-family: "VT323", monospace;
  width: 40px;
  height: 40px;
  font-size: 25px;
  max-width: 43px;
  max-height: 43px;
  text-align: center;
  cursor: pointer;
  background-color: #987654;
  margin-left: 50px;
  transition: 0.3s;
  border: 1px solid black;
}

.page {
  font-family: "VT323", monospace;
  width: 40px;
  height: 40px;
  font-size: 25px;
  max-width: 43px;
  max-height: 43px;
  text-align: center;
  cursor: pointer;
  background-color: #f9dbbb;
  margin-left: 50px;
  transition: 0.3s;
  box-shadow: none;
  border: 1px solid black;
}

.page:hover {
  width: 43px;
  height: 43px;
  background-color: #987654;
}

.selectedPage:hover {
  width: 43px;
  height: 43px;
}

.page:active {
  width: 37px;
  height: 37px;
}

.selectedPage:active {
  width: 37px;
  height: 37px;
}

.pageCount {
  margin-left: 14rem;
  margin-bottom: 1rem;
}
